{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "editor.defaultFormatter": null,
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true
  }
}
